# Used by `wrangler pages dev`
OPENAI_API_KEY=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
OPENAI_MODEL=gpt-4o
SUPABASE_URL=https://jocuxixjgqwlgicwwauo.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpvY3V4aXhqZ3F3bGdpY3d3YXVvIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MzgxMDg2OCwiZXhwIjoyMDg5Mzg2ODY4fQ.AulnKKPMy-fvNFikOF6UUWTF2uL575pxN2Fuih0QYng
CORS_ORIGIN=http://localhost:3000
